@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.sidebar{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position:fixed;
    top:58px;
    left:0px;
    width:22%;
    font-family: 'Montserrat','sans-serif';
    
   
}